[submodule "vendor/proot"]
	path = vendor/proot
	url = git@github.com:proot-me/proot.git
[submodule "vendor/termux-proot-distro"]
	path = vendor/termux-proot-distro
	url = https://github.com/termux/proot-distro.git
[submodule "vendor/termux-proot"]
	path = vendor/termux-proot
	url = git@github.com:termux/proot.git
[submodule "vendor/samba"]
	path = vendor/samba
	url = git@github.com:samba-team/samba.git
[submodule "vendor/termlib"]
	path = vendor/termlib
	url = git@github.com:connectbot/termlib.git
[submodule "vendor/bionic"]
	path = vendor/bionic
	url = https://android.googlesource.com/platform/bionic
[submodule "vendor/busybox"]
	path = vendor/busybox
	url = git://busybox.net/busybox.git
[submodule "vendor/musl"]
	path = vendor/musl
	url = git://git.musl-libc.org/musl
